.body {

}

.container {
    background-color: #1f2937;
    display: flex;
}

.header-logo {
    color: #f9faf8;
    font-size: 24px;
}

.header-links {
    display: flex;
}

.header-links a {
    color: #e5e7eb;
    font-size: 18px;
}
