.container {
    background-color: #1f2937;
    color: #e5e7eb;
    font-size: 18px;
    display: flex;
}

.second-header {
    background-color: white;
    color: #1f2937;
}
.third {
    background-color: #e5e7eb;
}
.quote {
    color: #1f2937;
    font-size: 36px;
    font-style: light italic;
}